<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Wanderlust</title>
</head>
<body>
     <h3> Create New Wanderlust</h3>
     <form  method="POST" action="/listings">
     <input type="text" name="listing[title]" id="" placeholder="title">
     <br>
     <br>
     <textarea name="listing[description]"placeholder="description"></textarea> 
     <br>
     <br>
     <input type="text" name="listing[image]"  placeholder="price">
     <br><br>
     <input type="text" name="listing[price]"  placeholder="image">
     <br>
     <br>
     <input type="text" name="listing[location]" id="" placeholder="location">
     <br>
     <br>
     <input type="text" name="listing[country]" id="" placeholder="country">
      <br>
      <br>
     <button>ADD </button>
     </form>
</body>
</html>